@using Bulletingboard.Constraints
@model Bulletingboard.Requests.User.UserRequest

<div class="col-12">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

<div class="col-md-6">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="col-md-6">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="col-md-6">
        <label asp-for="Role" class="form-label"></label>
        <select asp-for="Role" class="form-select">
            <option value="@UserRoles.Admin">Admin</option>
            <option value="@UserRoles.Member">Member</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
}

<div class="col-md-6">
    <label asp-for="FileUpload" class="form-label"></label>
    <input asp-for="FileUpload" class="form-control" type="file" accept="image/*" />
    <span asp-validation-for="FileUpload" class="text-danger"></span>
    @if (!string.IsNullOrWhiteSpace(Model.Img))
    {
        <div class="mt-2">
            if (User.FindFirstValue("email_verified") is null)
            {
            <img src="~/uploads/users/@Model.Img" alt="@Model.Name" class="rounded border" style="height: 72px; width: 72px; object-fit: cover;" />
            }
            else
            {
            <img src="@Model.Img" alt="@Model.Name" class="img-thumbnail" />
            }
            
        </div>
    }
</div>
